.mainContainer {
    position: relative;
    max-width: 66%;
    height: 500px;
    left: 460px;
    bottom: 540px;
    // background-color: #2a303c;
    background-color: rgb(42,48,60,0.9);
    border-radius: 5px;
}