.profileContainer {
    position: relative;
    max-width: 25%;
    height: 610px;
    left: 50px;
    top: -40px;
    // background-color: #393646;
    background-color: #2a303c;
    background-color: rgb(42,48,60,0.9);
    border-radius: 5px;
}


