@use "../../variables" as vars;

.profileContainer {
  width: 350px;
  height: 650px;
  // height: 610px;
  padding: 20px 0 20px 0;
  background: vars.$layoutBackground;
  backdrop-filter: vars.$glassBackground;
  border-radius: 5px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8px;

    div {
      display: flex;
      flex-direction: row;

      h1 {
        text-align: center;
        color: vars.$defaultColor;
        font-size: vars.$heading;
        font-family: vars.$fontFamily3;
        font-weight: 900;
        letter-spacing: 1px;
        line-height: 1.5;
        margin: 10px 0 -15px 0;
        margin-right: 8px;
      }
    }

    p {
      text-align: center;
      color: vars.$hoverColor;
      font-size: vars.$subHeading;
      font-family: vars.$fontFamily1;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.5;
      text-transform: capitalize;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0 10px 0;
      // margin: 20px 0 10px 0;
      // margin-left: 100px;

      .cursor {
        color: vars.$defaultColor;
      }
    }
  }

  .profileImageCon {
    width: 210px;
    height: 210px;
    border: 2px solid vars.$defaultColor;
    border-radius: 100%;
    margin: 0 auto;

    div {
      width: 35px;
      height: 35px;
      border: 2px solid vars.$greyColor;
      border-radius: 100%;
      margin: 120px 0 0 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 26px;
    }
  }

  .resumeBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;

    .cta {
      position: relative;
      margin: auto;
      padding: 14px 16px;
      transition: all 0.2s ease;
      border: none;
      background: none;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
    }

    .cta:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 50px;
      background: vars.$defaultColor;
      width: 43px;
      height: 43px;
      transition: all 0.3s ease;
    }

    .cta span {
      position: relative;
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.05em;
      color: whitesmoke;
    }

    .cta svg {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: whitesmoke;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all 0.3s ease;
    }

    .cta:hover:before {
      width: 100%;
      background: vars.$hoverColor;
    }

    .cta:hover svg {
      transform: translateX(0);
      stroke: vars.$darkgrey;
    }

    .cta:active {
      transform: scale(0.95);
    }
  }

  .personalInfo {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: left;
    margin-bottom: 20px;

    li {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 20px 5px 20px;
      font-family: vars.$fontFamily2;
      text-decoration: none;

      .sLinks {
        letter-spacing: 0.1rem;
        word-spacing: 0.1rem;
        width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1rem;
        text-decoration: none;
      }

      span {
        font-size: 1rem;
        margin-right: 0.6rem;
        color: vars.$defaultColor;
        border: 2px solid vars.$hoverColor;
        padding: 5px;
        border-radius: 100%;
        transition: all 0.3s ease-in-out;

        &:hover {
          //   color: vars.$darkgrey;
          color: vars.$whiteSmoke;
          //   background-color: vars.$hoverColor;
          //   border-color: vars.$CDE8E5;
          border-color: vars.$defaultColor;
          border-radius: 50px 50px 10px 50px;
        }
      }
    }
  }

  .socialMLinks {
    text-decoration: none;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background-color: rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(50px);
    // padding: 20px;
    border-radius: 5px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .Btn {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      position: relative;
      /* overflow: hidden; */
      border-radius: 7px;
      cursor: pointer;
      transition: all 0.3s;
      margin-right: 15px;
    }

    .svgContainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      backdrop-filter: blur(0px);
      letter-spacing: 0.8px;
      border-radius: 10px;
      transition: all 0.3s;
      border: 1px solid rgba(156, 156, 156, 0.466);

      .smLinks {
        font-size: 25px;
        color: vars.$whiteSmoke;
        text-decoration: none;
      }
    }

    .BG {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: vars.$defaultColor;
      z-index: -1;
      border-radius: 10px;
      pointer-events: none;
      transition: all 0.3s;
    }

    .Btn:hover .BG {
      transform: rotate(30deg);
      transform-origin: bottom;
      background: vars.$hoverColor;
    }

    .Btn:hover .svgContainer {
      background-color: rgba(209, 209, 209, 0.466);
      backdrop-filter: blur(4px);
    }
  }
}

@media only screen and (max-width: 600px) {
  .profileContainer {
    min-width: 370px;
    min-height: 500px;
  }
}

@media only screen and (min-width: 600px) {
  .profileContainer {
    min-width: 370px;
    min-height: 500px;
  }
}

// // Media query for tablets (min-width: 768px)
// @media screen and (min-width: 768px) {
//     .profileContainer {
//         max-width: 90%;
//         left: 35px;
//         top: 60px;
//     }
// }

// // Media query for desktops (min-width: 1024px)
// @media screen and (min-width: 1024px) {
//     .profileContainer {
//         max-width: 1024px;
//     }
// }

// // Media query for larger desktops (min-width: 1200px)
// @media screen and (min-width: 1200px) {
//     .profileContainer {
//         max-width: 1200px;
//     }
// }
