$transparentBG: transparent;
$layoutBackground: rgba(56, 189, 248, 0.1);
// $layoutBackground: rgb(248, 203, 56);
$layoutBackground2: rgba(3, 47, 66, 1);
$glassBackground: blur(10px);

$defaultColor: #22c55e;
$hoverColor: #8b5cf6;
$darkgrey: #0a1f1d;
$whiteSmoke: whitesmoke;
$navajowhite: navajowhite;

$CDE8E5: #ffd0d08c;

$greyColor: grey;

$heading: 36px;
$subHeading: 20px;
$normalText: 18px;
$smallText: 14px;

$fontFamily1: "Averia Libre", system-ui;
$fontFamily2: "Tilt Neon", sans-serif;
$fontFamily3: "Dancing Script", cursive;
