
$transparentBG: transparent;
$layoutBackground: rgba(56, 189, 248, 0.1);
$glassBackground: blur(10px);

$defaultColor: #22c55e;
$hoverColor: #8b5cf6;

$greyColor: grey;

$heading: 36px;
$subHeading: 20px;
$normalText: 18px;
$smallText: 14px;

$fontFamily1: "Averia Libre", system-ui;
$fontFamily2: "Tilt Neon", sans-serif;
$fontFamily3: "Dancing Script", cursive;