@use '../../_variables' as vars;


.ThemeButtonsContainer {
    max-width: 98%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    overflow-y: auto;
    position: absolute;
    bottom: 0px;
    margin: 0 5px 0 5px;

    &::-webkit-scrollbar {
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: vars.$transparentBG;
    }

    &::-webkit-scrollbar-thumb {
        background: vars.$defaultColor;
        border-radius: 4px;
        /* Roundness of the scrollbar */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: vars.$hoverColor;
    }
}